<!-- <section class="user-profile page"> -->
<section class="house page">

<!-- 	<div class="user-profile message-wrapper">
		<div class="user-profile header">
			<h1>Admin Tools</h1>
		</div>

		<div class="view">
			<div class="widget" ng-repeat="widget in widgets">
				<div class="user-profile message ui">
					<div class="content" align="center">
						<span class="{{widget.icon}}"></span>
						<div class="menu-text" align="center">{{widget.title}}</div>
						<div class="menu-text2">{{widget.description}}</div>
					</div>
					<div class="ui button" style="background-color: #ddd;">
						<a href="{{widget.link}}" style="color: #999;">Open Widget</a>
					</div>
				</div>
			</div>
		</div> -->

	<!-- Todo: remove corresponding stuff in controller -->
	<div class="view">

		<div class="isotope-container ui" id="admin_view">
			<div id="house-family">
				<div class="ui pointing secondary house-family-tab menu">
				    <a class="active {{getColor()}} item " data-tab="admin-match" id="matchTab">View Matches</a>
				    <a class="{{getColor()}} item " data-tab="admin-mentor" id="mentorTab">Approve Mentors</a>
				    <div class="item" id="house_label">Admin Tools</div>
				</div>
				<div class="ui active tab segment" data-tab="admin-match">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr class="odd-row">
					      <th class="descending">Name</th>
					      <th>E-mail</th>
					      <th>Role</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody ng-repeat='member in houseMembers'>
					  	<tr>
					  		<td>{{member.first_name + ' ' + member.last_name}}</td>
					  		<td>{{member.email}}</td>
					  		<td>{{member.is_mentee || member.is_mentor}}</td>
					  		<td>{{member.mentee_breadth_tracks || member.mentor_breadth_tracks}}</td>
					  	</tr>
					  </tbody>
					  
					</table>
				</div>
				<div class="ui tab segment" data-tab="admin-mentor">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr>
					      <th class="descending">Name</th>
					      <th>E-mail</th>
					      <th>Role</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody ng-repeat='member in familyMembers'>
					  	<tr>
					  		<td>{{member.first_name + ' ' + member.last_name}}</td>
					  		<td>{{member.email}}</td>
					  		<td>{{member.is_mentee || member.is_mentor}}</td>
					  		<td>{{member.mentee_breadth_tracks || member.mentor_breadth_tracks}}</td>
					  	</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="right_col">
			<div id="task_control">
			  <form class="ui form">
			   	<div class="field">
				<div id="task_type" class="ui select dropdown search icon button">
				  <i class="dropdown icon"></i>
				  <!-- <span class="text">Select task type</span> -->
				  <div id="dd_title" class="default text">{{dd_title}}</div>
				  <div class="menu" >
				  		<div data-value="{{task.task_id}}" class='item' ng-repeat="task in tasks" ng-click="setTitle(task.task_type,task)">
				  		{{task.task_type}}
				  		</div>
				  </div>
				</div>
				<div id='task_sel_err' class="ui small red message" ng-if='!task_selected'>Please select a task type</div>
			   	</div>
				<div class="task_label" id="task_date">
					<label class="title">
				       <i class="dropdown icon"></i>
				         Date
				    </label>	
				</div>
				
			    <div class="ui small icon input" id="task_date_div">
			    	<div class="field">
				  		<input ng-model="date" type="date" id="date_input">
				  	</div>
				</div>

				<div class="task_label">
					<label class="title">
				       <i class="dropdown icon"></i>
				         What Did You Do?
				    </label>	
				</div>
				
				<div id="task_desc_div">
				  <!-- <div class="ui form"> -->
				  	<div class="field">
				    	<textarea ng-model="submit_task.task_desc" id="desc_input" placeholder="In 200 characters or less, please give a brief description of what you did"></textarea>
				    </div>
				  <!-- </div> -->
				</div>
			    
				<div id="submit-task" class="ui submit button" ng-click="submit()" ng-disabled='sub_disable'>
	              Submit Task
	            </div>

	            <div id="task_sub_suc" class="ui success message " ng-if='sub_suc_show'>
				  <i class="close icon" ng-click="toggleMessage()"></i>
				  <p>Your task submission was successful</p>
				</div>
	          </form>

			</div>

			<div id="family_control">
				<div id="family_label">
					<label class="title">Change Family</label>	
				</div>
          		<div class="ui buttons" id='buttons_div'>
				  <button class="ui button family_buttons" ng-click='showModal()'>Add/Edit</button>
				  <!-- <div class="or"></div> -->
				  <button class="ui button family_buttons">Leave</button>
				</div>
         	</div>

         </div>

	</div>
</section>