<section class="house page">

	<div class="view">

		<div class="isotope-container ui" id="houseView">
			<div>
			<table id="house-graph">
				<caption>House</caption>

				<tbody ng-repeat='house in houses'>
					<tr id="house{{$index+1}}">
						<th scope="row"> {{house.house_name}}</th>
						<td class="{{house.house_name}} bar" style="height:{{house.height}}px"><p>{{house.total_point}}</p></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div id="house-family">
				<div class="ui pointing secondary house-family-tab menu">
				    <a class="active {{getColor()}} item " data-tab="house-member" id="HouseTab">House</a>
				    <a class="{{getColor()}} item " data-tab="family-member" id="FamilyTab">Family</a>
				    <a class="{{getColor()}} item " data-tab="task-history" id="TaskHistory">Task History</a>
				    <div class="item {{user.house_belongs}}" id="house_label">{{user.family_belongs + '-' + user.house_belongs}}</div>
				</div>
				<div class="ui active tab segment" data-tab="house-member">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr class="odd-row">
					      <th class="descending">Name</th>
					      <th>E-mail</th>
					      <th>Role</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody ng-repeat='member in houseMembers'>
					  	<tr>
					  		<td>{{member.first_name + ' ' + member.last_name}}</td>
					  		<td>{{member.email}}</td>
					  		<td>{{member.is_mentee || member.is_mentor}}</td>
					  		<td>{{member.mentee_breadth_tracks || member.mentor_breadth_tracks}}</td>
					  	</tr>
					  </tbody>
					  
					</table>
				</div>
				<div class="ui tab segment" data-tab="family-member">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr>
					      <th class="descending">Name</th>
					      <th>E-mail</th>
					      <th>Role</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody ng-repeat='member in familyMembers'>
					  	<tr>
					  		<td>{{member.first_name + ' ' + member.last_name}}</td>
					  		<td>{{member.email}}</td>
					  		<td>{{member.is_mentee || member.is_mentor}}</td>
					  		<td>{{member.mentee_breadth_tracks || member.mentor_breadth_tracks}}</td>
					  	</tr>
					  </tbody>
					</table>
				</div>
				<div class="ui tab segment" data-tab="task-history">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr>
					      <th class="descending">Date</th>
					      <th>Type</th>
					      <th>Description</th>
					      <th>Points</th>
					    </tr>
					  </thead>
					  <tbody ng-repeat='task in taskHistory'>
					  	<tr>
					  		<td>{{task.finish_date}}</td>
					  		<td>{{task.task_type}}</td>
					  		<td>{{task.task_description}}</td>
					  		<td>{{task.task_point}}</td>
					  	</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="right_col">
			<div id="task_control">
			  <form class="ui form">
			   	<div class="field">
				<div id="task_type" class="ui select dropdown search icon button">
				  <i class="dropdown icon"></i>
				  <!-- <span class="text">Select task type</span> -->
				  <div id="dd_title" class="default text">{{dd_title}}</div>
				  <div class="menu" >
				  		<div data-value="{{task.task_id}}" class='item' ng-repeat="task in tasks" ng-click="setTitle(task.task_type,task)">
				  		{{task.task_type}}
				  		</div>
				  </div>
				</div>
				<div id='task_sel_err' class="ui small red message" ng-if='!task_selected'>Please select a task type</div>
			   	</div>
				<div class="task_label" id="task_date">
					<label class="title">
				       <i class="dropdown icon"></i>
				         Date
				    </label>	
				</div>
				
			    <div class="ui small icon input" id="task_date_div">
			    	<div class="field">
				  		<input ng-model="date" type="date" id="date_input">
				  	</div>
				</div>

				<div class="task_label">
					<label class="title">
				       <i class="dropdown icon"></i>
				         What Did You Do?
				    </label>	
				</div>
				
				<div id="task_desc_div">
				  	<div class="field">
				    	<textarea ng-model="submit_task.task_desc" id="desc_input" placeholder="In 200 characters or less, please give a brief description of what you did"></textarea>
				    </div>
				</div>
			    
				<div id="submit-task" class="ui submit button" ng-click="submit()" ng-disabled='sub_disable'>
	              Submit Task
	            </div>

	            <div id="task_sub_suc" class="ui success message " ng-if='sub_suc_show'>
				  <i class="close icon" ng-click="toggleMessage()"></i>
				  <p>Your task submission was successful</p>
				</div>
	          </form>

			</div>

			<div id="family_control">
				<div id="family_label">
					<label class="title">Change Family</label>	
				</div>
          		<div class="ui buttons" id='buttons_div'>
				  <button class="ui button family_buttons" ng-click='gotoFamily()'>Add/Edit</button>
				  <!-- <div class="or"></div> -->
				  <button class="ui button family_buttons" ng-click='toggleNote()'>Leave</button>
				</div>
         	</div>

         </div>
	</div>

	<div id="mentor-note" class="ui page dimmer" ng-click="noteHeight()">
      <div class="ui info message note-message">
        <i class="close icon" ng-click="toggleNote()"></i>
        <div class="title">
          Are you sure you want to leave this family?
        </div>
        <div class="back-strip">
          <form class="ui form">
          	
          <!-- <div class="text-message">
            Are you sure you want to leave this family?
          </div> -->
          	<div class="field">
				    	<textarea ng-model="leave_reason" id="desc_input" style="width:500px;" placeholder="Please briefly state your reason of why you want to leave this family"></textarea>
			</div>
          
          <div class="text-message">
            Note*: If you confirm, a leave request will be sent to admin  
          </div>

        </div>
        <div class="ui options" id='leaveOpt'>
          <div class="ui Negative medium button" ng-click="toggleNote()"> <!--notification() -->
            Cancel
          </div>
          <div class="ui positive medium button" ng-click="leaveFamily()" ng-disabled='true'>
            Yes
          </div>
        </div>
        </form>
      </div>
    </div>


</section>

