<section class="house page">

	<div class="view">

		<div class="isotope-container ui" id="houseView">
			<table id="q-graph">
				<caption>House</caption>

				<tbody>
					<tr id="house1">
						<th scope="row">红</th>
						<td class="red bar" style="height: 111px;"><p>180</p></td>
					</tr>
					<tr id="house2">
						<th scope="row">黄</th>
						<td class="yellow bar" style="height: 206px;"><p>200</p></td>
					</tr>
					<tr id="house3">
						<th scope="row">绿</th>
						<td class="green bar" style="height: 259px;"><p>430</p></td>
					</tr>
					<tr id="house4">
						<th scope="row">蓝</th>
						<td class="blue bar" style="height: 110px;"><p>800</p></td>
					</tr>
				</tbody>
			</table>

			<div id="house-family">
				<div class="ui pointing secondary house-family-tab menu">
				    <a class="active red item " data-tab="first" id="HouseTab">House</a>
				    <a class="red item " data-tab="second" id="FamilyTab">Family</a>
				</div>
				<div class="ui active tab segment" data-tab="first">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr>
					      <th class="descending">Name</th>
					      <th>E-mail</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>Aohn Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Bamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Cill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<div class="ui tab segment" data-tab="second">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr>
					      <th class="sorted descending">Name</th>
					      <th>E-mail</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="task_selection">
		

			<div id="task_type" class="ui select dropdown search icon button">
			  <i class="dropdown icon"></i>
			  <span class="text">Select task type</span>
			  <div class="menu" >
			  	<div class="item">type0</div>
			  		<div data-value="{{task.id}}" class='item' ng-repeat='task in tasks'>
			  		{{task.type}}
			  		</div>
			  </div>
			</div>

			<div class="task_label" id="task_date">
				<label class="title">
			       <i class="dropdown icon"></i>
			         Date
			    </label>	
			</div>
			
		    <div class="ui small icon input" id="task_date_input">
			  <input type="text" placeholder="">
			</div>

			<div class="task_label">
				<label class="title">
			       <i class="dropdown icon"></i>
			         What Did You Do?
			    </label>	
			</div>
			
			<div id="task_desc">
			  <div class="ui form">
			  	<div class="field">
			    	<textarea></textarea>
			    </div>
			  </div>
			</div>
		    
			<div id="submit-task" class="ui button">
              Submit Task
            </div>

		</div>
	</div>

</section>