<section class="house page">

	<div class="view">

		<div class="isotope-container ui" id="houseView">
			<table id="house-graph">
				<caption>House</caption>

				<tbody ng-repeat='house in houses'>
					<tr id="house{{$index+1}}">
						<th scope="row">{{house.house_name}}</th>
						<td class="{{house.house_name}} bar" style="height:{{house.height}}px"><p>{{house.total_point}}</p></td>
					</tr>
				</tbody>

				<!-- <tbody>
					<tr id="house1">
						<th scope="row">Crimson</th>
						<td class="red bar" style="height: 111px;"><p>110</p></td>
					</tr>
					<tr id="house2">
						<th scope="row">Amber</th>
						<td class="yellow bar" style="height: 206px;"><p>200</p></td>
					</tr>
					<tr id="house3">
						<th scope="row">Emerald</th>
						<td class="green bar" style="height: 250px;"><p>430</p></td>
					</tr>
					<tr id="house4">
						<th scope="row">Sapphire</th>
						<td class="blue bar" style="height: 110px;"><p>800</p></td>
					</tr>
				</tbody> -->
			</table>

			<div id="house-family">
				<div class="ui pointing secondary house-family-tab menu">
				    <a class="active red item " data-tab="first" id="HouseTab">House</a>
				    <a class="red item " data-tab="second" id="FamilyTab">Family</a>
				</div>
				<div class="ui active tab segment" data-tab="first">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr>
					      <th class="descending">Name</th>
					      <th>E-mail</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>Aohn Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Bamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Cill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<div class="ui tab segment" data-tab="second">
					<table class="ui sortable table house-family-table" >
					  <thead>
					    <tr>
					      <th class="sorted descending">Name</th>
					      <th>E-mail</th>
					      <th>Breadth Track</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					      <td>Jill Lewis</td>
					      <td>May 11, 2014</td>
					      <td>jilsewris22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>Jamie Harington</td>
					      <td>January 11, 2014</td>
					      <td>jamieharingonton@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					    <tr>
					      <td>John Lilki</td>
					      <td>September 14, 2013</td>
					      <td>jhlilk22@yahoo.com</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="right_col">
			<div id="task_control">
			  <form class="ui form">
			   	<div class="field">
				<div id="task_type" class="ui select dropdown search icon button">
				  <i class="dropdown icon"></i>
				  <!-- <span class="text">Select task type</span> -->
				  <div id="dd_title" class="default text">{{dd_title}}</div>
				  <div class="menu" >
				  		<div data-value="{{task.task_id}}" class='item' ng-repeat="task in tasks" ng-click="setTitle(task.task_type,task)">
				  		{{task.task_type}}
				  		</div>
				  </div>
				</div>
				<div id='task_sel_err' class="ui small red message" ng-if='!task_selected'>Please select a task type</div>
			   	</div>
				<div class="task_label" id="task_date">
					<label class="title">
				       <i class="dropdown icon"></i>
				         Date
				    </label>	
				</div>
				
			    <div class="ui small icon input" id="task_date_div">
			    	<div class="field">
				  		<input ng-model="date" type="date" id="date_input">
				  	</div>
				</div>

				<div class="task_label">
					<label class="title">
				       <i class="dropdown icon"></i>
				         What Did You Do?
				    </label>	
				</div>
				
				<div id="task_desc_div">
				  <!-- <div class="ui form"> -->
				  	<div class="field">
				    	<textarea ng-model="submit_task.task_desc" id="desc_input" placeholder="In 200 characters or less, please give a brief description of what you did"></textarea>
				    </div>
				  <!-- </div> -->
				</div>
			    
				<div id="submit-task" class="ui submit button" ng-click="submit()" ng-disabled='sub_disable'>
	              Submit Task
	            </div>

	            <div id="task_sub_suc" class="ui success message " ng-if='sub_suc_show'>
				  <i class="close icon" ng-click="toggleMessage()"></i>
				  <p>Your task submission was successful</p>
				</div>
	          </form>

			</div>

			<div id="family_control">
				<div id="family_label">
					<label class="title">Change Family</label>	
				</div>
          		<div class="ui buttons" id='buttons_div'>
				  <button class="ui button family_buttons">Add/Edit</button>
				  <!-- <div class="or"></div> -->
				  <button class="ui button family_buttons">Leave</button>
				</div>
         	</div>

         </div>

	</div>

</section>