<section class="view-users page">

    <div class="view">
        <table class="matches-table">
            <tr>
                <td>Mentor</td>
                <td>Mentees</td>
            </tr>
            <tbody ng-repeat="mentor in mentors">
                <tr>
                    <td>{{mentor.first_name}} {{mentor.last_name}} ({{mentor.username}})</td>
                    <td></td>
                </tr>
                <tr ng-repeat="mentee in mentor.mentees">
                    <td></td>
                    <td>{{mentee.first_name}} {{mentee.last_name}} ({{mentee.username}})</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="users-table">
            <tr>
                <td>Unmatched Mentors</td>
                <td></td>
            </tr>
            <tr ng-repeat="mentor in unmatchedMentors">
                <td></td>
                <td>{{mentor.first_name}} {{mentor.last_name}} ({{mentor.username}})</td>
            </tr>
        </table>
        <hr>
        <table class="users-table">
            <tr>
                <td>Unmatched Mentees</td>
                <td></td>
            </tr>
            <tr ng-repeat="mentee in unmatchedMentees">
                <td></td>
                <td>{{mentee.first_name}} {{mentee.last_name}} ({{mentee.username}})</td>
            </tr>
        </table>
    </div>

</section>