<section class="view-users page">

    <div class="view">
        <table class="ui sortable celled table matches-table">
            <thead><tr>
                <th class="sorted ascending">Mentor</th>
                <th>Mentees</th>
            </tr></thead>
            <tbody ng-repeat="mentor in mentors">
                <tr>
                    <td>{{mentor.first_name}} {{mentor.last_name}} ({{mentor.username}})</td>
                    <td ng-repeat="mentee in mentor.mentees">
                        {{mentee.first_name}} {{mentee.last_name}} ({{mentee.username}})<br>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="users-table">
            <tr>
                <td>Unmatched Mentors</td>
                <td></td>
            </tr>
            <tr ng-repeat="mentor in unmatchedMentors">
                <td></td>
                <td>{{mentor.first_name}} {{mentor.last_name}} ({{mentor.username}})</td>
            </tr>
        </table>
        <hr>
        <table class="users-table">
            <tr>
                <td>Unmatched Mentees</td>
                <td></td>
            </tr>
            <tr ng-repeat="mentee in unmatchedMentees">
                <td></td>
                <td>{{mentee.first_name}} {{mentee.last_name}} ({{mentee.username}})</td>
            </tr>
        </table>
        <br>
        <button ng-click="notification()" style="margin-left: 25%;">Match All</button>
    </div>

    <div id="match-note" class="ui page dimmer">
      <div class="ui info message note-message">
        <i class="close icon" ng-click="notification()"></i>
        <div class="title">
          Match Confirmation
        </div>
        <div class="back-strip">
          <div class="text-message">
            Are you sure you want to want to match all unmatched mentors and mentees? THIS CANNOT BE UNDONE.
          </div>
        </div>
        <div class="ui options">
          <div class="ui Negative medium button" ng-click="notification()">
            Cancel
          </div>
          <div class="ui positive medium button" ng-click="matchAll()">
            Yes
          </div>
        </div>
      </div>
    </div>

</section>